@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #111827;
  --secondary-color: #f97316;
  --tertiary-color: #ffb020;
  --tertiary-color-dark: #ce8c00;
  --quaternary-color: #fafafa;
  --quinary-color: #d1d5db;
  --font-family: "Baloo Tammudu 2", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-family);
}

/** Navbar Section Start */
header.navbar-section {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: rgba(209, 213, 219, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px;
  z-index: 1000;
  padding: 0px 20px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: var(--quaternary-color);
  position: relative;
  top: 7px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--quaternary-color);
  font-size: 15px;
  transition: color 0.3s ease;
  position: relative;
  top: 2px;
  font-weight: 600;
}

.nav-links li a:hover {
  color: var(--secondary-color);
}

.btn-start {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-start:hover {
  background-color: var(--tertiary-color);
}
/** Navbar Section End */

/** Hero Section Start */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--primary-color) 100%), url("../assets/img/hero-back.png");
  /* background-image: url("/assets/img/hero-back.png");
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--primary-color) 100%); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed;  Para que el fondo no se mueva al hacer scroll */
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-title {
  color: var(--quaternary-color);
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  font-family: "Inter", sans-serif;
  max-width: 800px; /* Ahora limita el ancho del título */
  width: 100%; /* El texto ocupa todo el ancho disponible hasta el máximo */
  text-transform: uppercase;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 0 20px; /* Pequeño padding para que respire en móviles */
}

.hero-subtitle {
  color: var(--quaternary-color);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  font-family: "Inter", sans-serif;
  max-width: 600px; /* Igual que el title, límite de ancho */
  width: 100%;
  margin: 20px auto 20px auto; /* Espaciado arriba */
  padding: 0 20px;
}

.btn {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  width: 150px;
  text-align: center;
  box-shadow: 0px 0px 10px var(--secondary-color);
}

/*? Responsive Design */

/* Tablets */
@media (max-width: 1024px) {
  header.navbar-section {
    width: 90%;
    padding: 0 15px;
  }

  .hero-section .hero-title {
    font-size: 50px;
  }

  .hero-section .hero-subtitle {
    font-size: 20px;
  }

  .btn-start {
    width: 140px;
    /* padding: 8px 16px; */
  }
}

/* Celulares grandes */
@media (max-width: 1305px) {
  header.navbar-section {
    width: 80%;
    padding: 0 10px;
  }

  .navbar {
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
  }

  .nav-links {
    /* flex-direction: column; */
    /* align-items: center;
    gap: 10px; */
    display: none;
  }

  .hero-section .hero-title {
    font-size: 40px;
    /* transform: translate(-50%, -100%); */
  }

  .hero-section .hero-subtitle {
    font-size: 18px;
    /* transform: translate(-50%, -140%); */
  }

  .btn-start {
    /* top: 70%; */
    width: 110px;
    /* padding: 8px 14px; */
  }
}

/* Celulares pequeños */
@media (max-width: 727px) {
  .hero-section .hero-title {
    font-size: 30px;
    /* transform: translate(-50%, -90%); */
  }

  .hero-section .hero-subtitle {
    font-size: 16px;
    max-width: 270px;
    /* transform: translate(-50%, -130%); */
  }

  .btn-start {
    width: 120px;
    /* padding: 6px 12px; */
  }

  .logo {
    font-size: 20px;
  }

  .nav-links li a {
    font-size: 14px;
  }
}

/*? End Responsive Design ***/

/** Hero Section End */

/** Cards Section Start */
.red {
  color: var(--tertiary-color);
}

.cards-section {
  color: var(--quaternary-color);
  font-weight: 800;
  font-family: "Inter", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 120vh;
  overflow: hidden;
  font-size: 2rem;
}

.cards-section > h1 {
  margin-bottom: 10px;
}

.card {
  display: flex;
  /* flex-direction: column; */
  background: linear-gradient(to right, var(--tertiary-color) 0%, var(--secondary-color) 100%);
  border-radius: 20px;
  margin: 15px;
  width: 800px;
  height: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  overflow: hidden;
}

.card-content {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.card > img {
  display: block; /* Esto quita espacios fantasmas de img inline */
  transform: translateX(1px);
  border-radius: 20px;
  width: 50%;
  height: 100%;
  object-fit: cover;
  box-shadow: 1px 0px 12px black;
}

#logo {
  width: 56px;
  height: 56px;
}

.card-title {
  font-size: 1.8rem;
  color: var(--quaternary-color);
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
  text-align: start;
  align-items: center;
  display: flex;
  gap: 10px;
}

.card-description {
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
}

.inverted-card {
  background: linear-gradient(to right, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  color: var(--quaternary-color);

  /* animation: card-scroll 1s ease-in-out infinite alternate; */
}

.inverted-card > img {
  display: block;

  /* transform: translateX(1px) translateY(0px); */
  display: block; /* Esto quita espacios fantasmas de img inline */
  box-shadow: -1px 0px 12px rgb(0, 0, 0);
}

@keyframes card-scroll {
  100% {
    box-shadow: 0px 0px 10px var(--secondary-color);
    transform: scale(1.05);
  }
}

/*? Responsive Design */

@media (max-width: 768px) {
  .cards-section {
    height: auto; /* Elimina altura fija */
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
    padding: 10px;
  }

  .card {
    flex-direction: column; /* Cambia a columna */
    width: 90%; /* Que ocupe más del ancho disponible */
    height: auto; /* Deja que la altura crezca automáticamente */
    background: linear-gradient(to bottom, var(--tertiary-color) 0%, var(--secondary-color) 100%);
  }

  .card > img {
    width: 100%; /* Imagen ocupa todo el ancho */
    height: 200px; /* Ajusta altura de imagen */
    object-fit: cover; /* Mantiene imagen bonita */
    border-radius: 20px 20px 0 0; /* Redondeo solo arriba */
  }

  .card-content {
    width: 100%;
    padding: 20px;
    text-align: center; /* Centra en móviles */
  }

  .card-title {
    display: flex;
    justify-content: center; /* Alinea ícono y texto al centro */
  }

  #logo {
    width: 40px;
    height: 40px;
  }

  .inverted-card {
    /* Primero texto, luego imagen */
    flex-direction: column-reverse;
  }
}

/** Cards Section End */

/** Start How it works Section  */
.how-works-section {
  /* margin-top: 70px; */
  /* min-height: 100vh; */
  /* background-image: url("../assets/img/how-works.png"); */
  height: 100vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, var(--primary-color) 100%), url(../assets/img/how-works.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: start;
  font-family: "Inter", sans-serif;
  padding-left: 90px;
}

.how-works-title {
  color: var(--quaternary-color);
  font-weight: 700;
  font-size: 3.5rem;
  width: 100%;
  max-width: 100px;
}

.card-steps {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-rows: 1fr 30px 1fr;
  /* gap: 20px; */
  /* background-color: red; */
}

.card-step {
  color: var(--quaternary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(17, 24, 39, 0.8);
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: -2px 2px 1px var(--secondary-color);
}

.step-description {
  width: 100%;
  max-width: 300px;
}

.card-step img {
  width: 40px;
  height: 40px;
}

.step-title {
  color: var(--tertiary-color);
}

.cs1 {
  grid-row: 1;
  grid-column: 1;
}

.cs2 {
  grid-row: 1;
  grid-column: 3;
}

.cs3 {
  grid-row: 3;
  grid-column: 1;
}

.cs4 {
  grid-row: 3;
  grid-column: 3;
}

/*? Responsive Section */
@media (max-width: 970px) {
  .how-works-section {
    padding-left: 20px;
    /* padding-bottom: 20px; */
  }
}

@media (max-width: 768px) {
  .how-works-section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, var(--primary-color) 100%), url("../assets/img/how-works.png");
    background-position: center;

    height: auto;
    gap: 10px;
  }

  .how-works-title {
    text-align: center;
    font-size: 2.5rem;
    max-width: 100%;
    text-shadow: 1px 1px 3px black;
  }

  .card-steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .card-step {
    width: 80%;
    flex-direction: column;
    text-align: center;
    align-self: center;
  }

  .step-description {
    max-width: 80%;
  }

  .card-step img {
    width: 40px;
    height: 40px;
  }

  .btn {
    margin-top: 10px;
    align-self: center;
  }
}

@media (max-width: 480px) {
  .how-works-section {
    /* overflow: hidden; */
    /* background-repeat: no-repeat; */
    background-size: cover; /*! PARA QUE LA IMAGEN NO SE REPITA EN LOS BORDES EN EL RESPONSIVE*/
    background-attachment: fixed;
  }

  .how-works-title {
    font-size: 2rem;
  }

  .card-step {
    padding: 20px 15px;
  }

  .card-step img {
    width: 50px;
    height: 50px;
  }
}

/** End How it works Section  */
